.fundo{
    background-color: #EFEDED;
}

.fundologin{
    background-color: #144913;
}

.vertical {
    padding-top: 20px;
    background-color: #144913;
    padding-bottom: 800%;
}

.horizontal {
    display: flex;
    flex-direction: column;
    width: 70%;
    float: left;
}

@media screen and (min-width: 480px) {
    .horizontal {
        display: flex;
        flex-direction: column;
        width: 70%;
        float: left;
        margin-left: -160px;
    }
}

.template{
    display: flex;
    flex-direction: row;
}

.menu{
    background-color: #EFEDED;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-color: black;
    border-radius: 5%;

}

.center{
    margin-left: 25%;
}

.centralizado {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.font-titulo{
    font-family: "Comic Sans MS";
}

.font-titulo-grande{
    font-family: "Comic Sans MS";
    font-size: 24px;
}
.centraliza-texto{
   text-align: center;
}

.font{
    font-family: "Roboto Light";
}

.font-branca{
    font-size: 12px;
    font-family: "Comic Sans MS";
    color: white;
}

.font-preta{
    font-family: "Comic Sans MS";
    color: black;
}

.logo{
    background-color: #EFEDED;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-color: black;
    border-radius: 5%;
}

.cabecalho{

    display: flex;
    justify-content: center;
    font-size: 26px;
}

.cabecalho-usuario{
    width: 45%;
    background-color: #144913;
    padding-top: 20px;

}

.tabela .ui-state-default {
    background-color: #144913;
    color: white;
}

.paragrafo{
    margin-left: 15px;
}

.botao{
    background-color: #144913;
    color: white;
}