.fundo {
    background-color: #EFEDED;
}

.fundologin{
    background-color: #144913;
}

.horizontal {
    display: flex;
    flex-direction: column;
    width: 80%;
    float: left;
}

@media screen and (max-width: 640px) {
    .horizontal {
        display: block;
        width: 98%;
    }

    .menu {
        width: 100% !important;
        margin: 0 !important;
    }

    .ui-tabs .ui-tabs-panel {
        padding: 0;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0;
    }
}

.template{
    display: flex;
    flex-direction: row;
}

.menu {
    width: 90%;
    height: 100%;
    margin-top: 0;
}

.center{
    margin-left: 25%;
}

.centralizado {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.font-titulo{
    font-family: "Comic Sans MS";
}

.font-titulo-grande{
    font-family: "Comic Sans MS";
    font-size: 24px;
}
.centraliza-texto{
    text-align: center;
}

.font{
    font-family: "Roboto Light";
}

.font-branca{
    font-size: 12px;
    font-family: "Comic Sans MS";
    color: white;
}

.font-preta{
    font-family: "Comic Sans MS";
    color: black;
}

.logo{
    background-color: #EFEDED;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-color: black;
    border-radius: 5%;
}

.cabecalho{
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.cabecalho-usuario{
    width: 90%;
    background-color: #144913;
    padding-top: 20px;

}

.ui-datatable thead th, .ui-datatable tfoot td {
    background-color: #144913 !important;
    color: white !important;
}

.paragrafo{
    margin-left: 15px;
}

.botao{
    background-color: #144913;
    color: white;
}

@media screen and (min-width: 640px) {
    .ui-menubar .ui-menuitem {
        width: 100% !important;
    }

    .ui-menu .ui-menuitem-link {
        width: 96% !important;
        margin: 0 0 10px 0;
    }
}
.fundo-branco {
    background-color: #FFF;
}

.menu-lateral {
    display: none;
}

.mega-menu {
    width: 100%;
}

@media (min-width: 640px) {
    .menu-lateral {
        display: block;
        width: 18%;
    }

    .fundo-menu {
        height: 57%;
    }

    .mobile-menu {
        display: none;
        width: 100%
    }

    .vertical {
        padding-top: 20px;
        background-color: #144913;
        padding-bottom: 100%;
    }

    .mega-menu {
        width: 96%;
    }
}